.Rproj.user
.Rhistory
.RData
.Ruserdata
# data
ROSMAP/Data
ROSMAP/Results
.rds
ROSMAP/prueba_aracne/Data
ROSMAP/PruebaModuleEnrichmentAndProjection/results
ROSMAP/PruebaModuleEnrichmentAndProjection/resultsWithOnlySymbl
ROSMAP/PruebaModuleEnrichmentAndProjection/MakePlots
ROSMAP/PruebaModuleEnrichmentAndProjection
Reportes/ReporteGAGE/Data
Reportes/ReporteFinal/Data
# auxiliar code
Tutoriales/
Reportes/ReporteFinal/FinalPlots

