.Rproj.user
.Rhistory
.RData
.Ruserdata
ROSMAP/Data
ROSMAP/Results
.rds
ROSMAP/prueba_aracne/Data
ROSMAP/PruebaModuleEnrichmentAndProjection/results
ROSMAP/PruebaModuleEnrichmentAndProjection/resultsWithOnlySymbl
ROSMAP/PruebaModuleEnrichmentAndProjection/MakePlots
Reportes/ReporteGAGE/Data
Reportes/ReporteFinal/Data
